.dashboard_icon a span {
	text-align:center !important;
}



/**Payroll STyle**/

.bg-grey{
	background-color: #E1E1E1;
}

.bg-grey2{
	background-color: #EEE;
}

.bg_good{
	color: #468847;
	background-color: #dff0d8;
}

.bg_alert{
	color: #b94a48;
	background-color: #f2dede;
}

.text_alert{
	color: #b94a48;
}

.text_success{
	color: #468847;
}

td.align-right{
	text-align: right;
}

.text-right{
	text-align: right;
}

.align-center{
	text-align: center;
	padding: 10px;
}


.loader{
	text-align: center;
	margin-bottom: 20px;
}

.loaderBox{
	padding: 100px 0;
	text-align: center;
}

.processing{
	background-color: #CCC;
	padding: 3px 20px;
	border: 1px solid #333;
	display: inline-block;
}


.loading{
	padding: 50px 0;
	text-align: center;
}

.margin{
	margin: 10px 0;
}

.margin_bottom{
	margin-bottom: 40px;
}


#modal-1{
	width: 60%;
	position: fixed;
	top:10%;
	left:20%;
	margin-left: 0;
}


#modal-1a{
	width: 70%;
	position: fixed;
	top:10%;
	left:15%;
	margin-left: 0;
}


.box .box-content-padless{
	padding: 0;
	background: #fff;
}

.box.box-bordered .box-content-padless {
	border: 2px solid #ddd;
	border-top: 0;
}

.control-label2{
	width:300px;
	text-align: left;
}

.controls2{
	margin-left: 370px;
}

.border-error{
	border-color: #b94a48;
	color: #b94a48;
}

.border-success{
	background-color: #468847;
	color: #468847;
}

.border-left{
	border-left: 1px solid #CCC;
}


.padless{
	padding:0;
}

.pad-1{
	padding: 10px;
}

.pad-2{
	padding: 10px 0;
}

.pad-3{
	padding:30px 10px;
}

tr.tdhead{
	font-weight: bold;
	background-color: #333;
}


.list{
	margin: 0;
	list-style-type: none;
}

.list li{
	padding: 10px;
	border-bottom: 1px solid #EEE;
}


.list li:hover{
	background-color: #EEE;		
}


.list li a{
	color: #222;
	text-decoration: none;
}


.list2{
	margin: 0;
	list-style-type: none;
}

.list2 li{
	padding: 10px;
	border-bottom: 1px solid #EEE;
}


.list2 li:hover{
	/*background-color: #EEE;	*/	
}


.list2 li a{
	/*color: #222;*/
	text-decoration: none;
}


.border_light_grey{
	border: 1px solid #f4f4f4;
}

.stripe{
	background-color: #f4f4f4;
	padding: 10px;
}


.boxCenter{
	text-align: center;
	padding: 80px 0;
}


.merror{
	color: #b94a48;
	font-style: italic;
}

.allowance{
	font-style: italic;
	color: #999;
}


.imgBox{

	width:120px;
	height: 120px;
	padding: 10px;
	
}

.imgBox2{

	width:80px;
	height: 80px;
	padding: 10px;
}

.imgBox img, .imgBox2 img{
	width: 100%;
	margin: 0 auto;
	display: block;
}


.remove_button_css { 
  outline: none;
  padding: 5px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent; 
}


.buttonBox{
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid #EFEFEF;
}


.edit_holiday_modal{
	min-height: 300px;
}

/*  Formating for Query*/
.borderline{
	margin-top: 30px;
	border: 1px solid #EEE;
	padding: 30px;
}

.borderline > h2{
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.borderline > h4{
	font-weight: normal;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}


.borderline > ul{
	margin: 20px 0;
	padding: 0;
	list-style: none;
}


.borderline > div{
	padding: 20px 0;
}

.bg_lightgrey{
	background-color: #F9F9F9;
}

.error{
	color: #B94A48;
}
#content {
	height:auto !important;
	display:block !important;
	min-height:800px !important;
}


.marginless_bottom{
	margin-bottom: 0;
}


.light-title{
	font-weight: normal;
	padding: 40px 0 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #EEE;
}

.light-title2{
	font-weight: normal;
	padding: 40px 0 15px;
	margin-bottom: 15px;
}

.space-text{
	padding: 0 10px;
	display: inline-block;
	float: right;
}


/* Compensation css  */

.bwrap{
	position: relative;
}

.confirm_delete{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	padding: 5px;
	width: 400px;
}


.iwrap{
	display: none;
}

/********************* Loader *********************************/

.wrap {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index:99999;
}

.body_op {
	background-color:#e3e3e3;
	opacity:0.5;
}

.bar{
  margin-right: 2px;
  display: inline-block;
  height: 170px;
  width: 32px;
  background: #878787;
  -webkit-animation: animator .7s linear alternate infinite;
  animation: animator .7s linear alternate infinite;
}

.bar:nth-child(2){
  -webkit-animation: animator .7s linear alternate infinite 0.166666666666667s;
  animation: animator .7s linear alternate infinite 0.166666666666667s;
}

.bar:nth-child(3){
  -webkit-animation: animator .7s linear alternate infinite .2333333333333333s;
  animation: animator .7s linear alternate infinite .2333333333333333s;
}

.bar:nth-child(4){
  -webkit-animation: animator .7s linear alternate infinite .35s;
  animation: animator .7s linear alternate infinite .35s;
}

.bar:nth-child(5){
  -webkit-animation: animator .7s linear alternate infinite .4666666666666667s;
  animation: animator .7s linear alternate infinite .4666666666666667s;
}

.bar:nth-child(6){
  -webkit-animation: animator .7s linear alternate infinite .5833333333333333s;
  animation: animator .7s linear alternate infinite .5833333333333333s;
}

.bar:nth-child(7){
  -webkit-animation: animator .7s linear alternate infinite .7s;
  animation: animator .7s linear alternate infinite .7s;
}

@-webkit-keyframes animator
{
from {-webkit-transform: scaleY(.7); opacity:0;}
to {-webkit-transform: scaleY(1); opacity:1;}
}

@keyframes animator
{
from {transform: scaleY(.7); opacity:0;}
to {transform: scaleY(1); opacity:1;}

/* Employee Purchases 

.shop-items{
	width: 47%;
	float: left;
	margin-left: 2%;
	margin-bottom: 2%;
	border: 1px solid #EEE;
	overflow: hidden;
}

.shop-items:hover{
	border: 1px solid #CCC;
}

.shop-items>.pimg{
	float: left;
	width: 30%;
	border-right: 1px solid #EEE;
	overflow: hidden;
}

.shop-items>.pimg> img{
	width: 100%;
}

.shop-items>.details {
	margin-left: 32%;
}


.shop-items>.details > ul{
	list-style-type: none;
	margin: 0;
}

.shop-items>.details > ul > li > h4{
	font-weight: normal;
	border-bottom: 1px solid #EEE;
	padding: 10px 5px;
	margin-bottom: 10px;
}

.shop-items>.details > ul > li.partner{
	font-size: 12px;
	color: #CCC;
	font-style: italic;
}
 */



/* Employee Purchases */

.shop-items{
	width: 31%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	border: 1px solid #EEE;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.30);
	box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.30);
}

.shop-items:hover{
	border: 1px solid #CCC;
}

.shop-items>.pimg{
	width: 100%;
	border-bottom: 1px solid #EEE;
	overflow: hidden;
	height: 250px;
}

.shop-items>.pimg> img{
	height: 100%;
}

.shop-items>.details {
	
}


.shop-items>.details > ul{
	list-style-type: none;
	margin: 0;
}

.shop-items>.details > ul > li{
	border-bottom: 1px solid #EEE;
	padding: 10px;
}

.shop-items>.details > ul > li > h4{
	font-weight: normal;
	padding: 10px 5px;
	margin-bottom: 10px;
}

.shop-items>.details > ul > li.partner{
	font-size: 12px;
	color: #CCC;
	font-style: italic;
}